{% extends "base.jinja2" %}
{% block title %}Contato{% endblock %}
{% block content %}
    <h1 class="white-text">Contato</h1>
    <div class="card grey darken-3">
        <div class="card-content white-text">
            <h1 class="card-title">Entre em contato</h1>
            <div class="divider"></div>
            <div class="card-body">
                <p>Telefone / WhatsApp: <a href="tel:+5551980239909"">(51) 98023-9909</a></p>
                <p>Email: <a href="mailto:lucas.pereira6c@gmail.com" class="white-text">lucas.pereira6c@gmail.com</a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/lucas-pereira-23a133191/">https://www.linkedin.com/in/lucas-pereira-23a133191/</a></p>
                <p>GitHub: <a href="https://github.com/lcspereira">https://github.com/lcspereira</a></p>
            </div>
        </div>
    </div>
{% endblock %}