{% extends "base.jinja2" %}

{% block title %}Portfolio App{% endblock %}
{% block content %}

<div class="section white">
    <div class="row container">
        <h2 class="header">Serviços</h2>
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Desenvolvimento de software</span>
                    <div class="divider"></div>
                    <p>Aplicações web responsivas</p>
                    <p>Aplicações cloud</p>
                    <p>Aplicações desktop</p>
                    <p>Frontend</p>
                    <p>Backend</p>
                    <p>Integração de sistemas</p>
                    <p>Scripts de automação</p>
                    <p>Odoo</p>
                    <p>Refatoração de código-fonte</p>
                    <p>Sistemas legados</p>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Desenvolvimento de websites / e-commerce</span>
                    <div class="divider"></div>
                    <p>Desenvolvimento e manutenção de websites</p>
                    <p>Wordpress / WooCommerce</p>
                    <p>SEO</p>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Dados</span>
                    <div class="divider"></div>
                    <p>Banco de dados SQL e NoSQL</p>
                    <p>Modelagem de dados / data warehouse</p>
                    <p>Extração e preprocessamento de dados</p>
                    <p>ETL / ELT</p>
                    <p>Web scraping</p>
                    <p>Análise e visualização de dados</p>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Inteligência Artificial / Machine Learning</span>
                    <div class="divider"></div>
                    <p>Mineração de dados</p>
                    <p>Desenvolvimento, treinamento e testes de modelo de IA</p>
                    <p>Deep learning</p>
                    <p>Visão computacional</p>
                </div>
            </div>
        </div> 
    </div>
</div>    
{% endblock %}