{% extends "base.jinja2" %}
{% block title %}Em Construção{% endblock %}
{% block content %}
    <h1 class="white-text">Em Construção</h1>
    <p class="white-text">Desculpe, mas esta página ainda está em construção.</p>
{% endblock %}